.design-app .row {
    display: flex;
    gap: 5px;
}

.design-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.design-inputs label>span {
    min-width: 40px;
    display: inline-block;
}

.design-inputs fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}