.progress-bar-holder {
    position: relative;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.progress-bar-values {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, .5);
    padding: 2px;
    border-radius: 4px;
    color: white;
    pointer-events: none;
}

.progress-bar {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    flex: 1;
    padding: 0 4px;
    height: 18px;
}


.progress-bar::-webkit-progress-bar {
    background-color: black;
    padding: 2px 0;
}

.progress-bar::-webkit-progress-value {
    background-color: red;
}