#root {
  margin: 0 auto;
  text-align: center;
}

.game-main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100vh;
  max-height: 1400px;

  width: 100vw;
  max-width: 1960px;

  align-items: center;
  justify-content: space-between;
}

.title-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.center-section {
  flex: 1;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: auto;
  flex: 1;
  border: 1px solid red;
}

.side-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 180px;
  flex-shrink: 0;
  border: 1px solid red;
}

.side-panel > section {
  padding-bottom: .75rem;
  border-bottom: 1px solid red;
}

.side-panel h3 {
  border-bottom: 1px dotted red;
  padding: .5rem 0;
  margin: 0;
  margin-bottom: .5rem;
}

.star,
.fleet {
  transform-origin: center center;
  transform-box: content-box;
  transition: transform .5s;
}

.star:hover,
.fleet--clickable:hover {
  transform: scale(1.2);  
}

.star-label {
  font-size: 6px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(4px) translateX(6px);
}

.animated-line {
  animation: march 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes march {
  from {
    stroke-dashoffset: 6;
  }

  to {
    stroke-dashoffset: 0;
  }
}