#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.star {
  transform-origin: center center;
  transform-box: content-box;
  transition: transform .5s;
}

.star:hover {
  transform: scale(1.2);
}

.star-label {
  font-size: 6px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translateY(4px) translateX(6px);
}

.animated-line {
  animation: march 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes march {
  from {
    stroke-dashoffset: 6;
  }

  to {
    stroke-dashoffset: 0;
  }
}